@model GuestBookApp.Models.Post

<table class="table table-bordered">
    <th colspan="2">
        <p>@Model.User.Name</p>
        @if (Model.User.Email == User.Identity.Name)
        {
            <form method="post">
                <input name="PostId" value="@Model.Id" hidden>
                <input type="submit" value="delete" class="btn btn-sm btn-outline-dark" asp-controller="Post" asp-action="Delete">
            </form>
        }
    </th>
    <tr>
        <td colspan="2">@Model.User.Email</td>
    </tr>
    <tr>
        <td width="20%">@Model.DateTime</td>
        <td style="word-wrap: break-word;" width="80%">@Model.Message</td>
    </tr>

</table>