@using GuestBookApp.Helper;
@model PagingList<GuestBookApp.Models.Post>

@{
    ViewBag.Title = "GuestBook Entries";
    Layout = "_Layout";
    var prevDisabled = !Model.PreviousPage ? "disabled" : "";
    var nextDisabled = !Model.NextPage ? "disabled" : "";
}

<div class="col-12 text-center pb-3 pt-2">
    <h2 class="text-black-50">GuestBook</h2>
</div>

<div class="container pb-3">
    <div class="row justify-content-between">

        <div class="col-sm">
            <a asp-action="Index" asp-route-page="@(Model.PageIndex - 1)" class="btn btn-outline-dark btn-block @prevDisabled"> Previous </a>
        </div>

        <div class="col-sm">
            <form method="post" asp-action="IndexConfirm" asp-controller="Post">
                <div class="row form-group">
                    <h6 class="col-sm">Page: @Model.PageIndex / @Model.TotalPages</h6>
                    <input type="number" min="1" max="@Model.TotalPages" name="pageNumber" value="@Model.PageIndex" class="form-control w-25 col-sm">
                    <input type="number" name="maxIndex" value="@Model.TotalPages" hidden>
                    <input type="submit" value="Go" class="btn btn-outline-dark col-sm w-25" asp-for="PageIndex">
                    <span asp-validation-for="PageIndex"></span>
                </div>
            </form>
        </div>

        <div class="col-sm">
            <a asp-action="Index" asp-route-page="@(Model.PageIndex + 1)" class="btn btn-outline-dark float-right btn-block @nextDisabled"> Next </a>
        </div>

    </div>
</div>

<div>
    @if (Model.Count() > 0)
    {
        @foreach (var post in Model)
        {
            await Html.RenderPartialAsync("_SinglePost", post);
        }
    }
    else
    {
        <h2 class="text-danger text-center">No posts here :(</h2>
    }
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
}